body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-colour: hsl(1, 85%, 65%);
    --secondary-colour: hsl(48, 100%, 70%);
    --font-colour: hsl(198, 63%, 38%);
    --secondfont-colour: hsl(170, 40%, 60%);
    /* cursor: url('chicken.png'), auto; */
}
header {
    margin: auto;
    padding: 2rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align: center;
    background: url(headerbackground.png) no-repeat center center fixed; 
    background-size: cover;
    color: var(--primary-colour);
}


main {
    margin: auto 1rem;
}
.messages {
    margin: auto 1rem;
}

.dogpost {
    margin: 1rem auto;
    border: 1px solid var(--primary-colour);
    padding: 1rem;
}


@media only screen and (min-width: 768px){
    .forminput {
        width: 40vw;
        margin: auto;
    }
    .dogpost {
        max-width: 40vw;
    }
    
}

img {
    height: 0;
}

